body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  background: #2f2f2f;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#main {
  width: 100%;
  min-height: 100vh;
  background: #2f2f2f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image{
  background-image: url(MarkWeb.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 310px;
  position: relative;
}
.image::before{
  content: '';
  position: absolute;
  top: 102%;
  left: 0;
  width: 350px;
  height: 200px;
  background-image: url(MarkWeb.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleY(-1);
  opacity: 0.2;
}
.image::after{
  content: '';
  position: absolute;
  top: 102%;
  left: 0;
  width: 350px;
  height: 200px;
  background-image: linear-gradient(transparent, #2f2f2f 60%);
}